*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*a, a:hover, a:active{ outline:0px !important}*/

body{
	padding: 10px;
	background-color:white;
	line-height: 1.428571429;
}
html{
	font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main-nav-outer{
	padding:0px;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
	/*background-image: url(../img/background1.jpg);*/
	background-color: rgb(225, 220, 220);
}
@media (min-width: 800px) {
  .container {
    width: 970px;
  }
}
footer{
	/*background-image: url(../img/background1.jpg);*/
	background-color: black;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 65px;
	/*background-image: url(../img/board-0.jpg);*/
	color:#0641ea;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.
/*-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
	color: white;
	overflow: hidden;
}*/
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	color:#0641ea;
	text-transform:uppercase;
	text-decoration: none;
	line-height:20px;
	margin:20px 32px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.div_img{
	width:300px;
	
}
h2{
	color:black;
	font-size: 40px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.linea_titule{
	/*background-image: url(../img/background1.jpg);*/
	padding: 0px;
}
h3{
	color:white;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
p{
	color:#777777;
	font-size: 18px;
	text-align:left;
	width:auto;
	margin: 9px;
	font-family: 'Open Sans', sans-serif;
	    line-height: 24px;
}
.li_inst{
	color:#777777;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}
.sec_img{
	float: left;
	width: 280px;
}
.sec_tex_img{
	float:left;
	text-align: left;
	width: 300px;
}
.sec_central{
	float: center;
	height: 300px;
}
.img_logo{
	width: 50px;
}
.img_horizo{
	width:900px;

}
.line_list{
	display: inline;
	overflow: hidden;
}
.sec2_central{
	height: auto;
	width:auto;
	float: central;
}
.sec_left{
	float: left;
	width: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.sec_width{
	width:400px;
	padding-left: 10px;
    padding-right: 10px;	
}
.num_list{
	color:#777777;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}
.pie_img{
	width: 600px;
}

.main-section{
	padding:20px 0 60px;
}
.main-section1{
	padding:80px 0 80px;
	background-color:#fafafa;

}
.sec{
	background-color:#cecece;
	padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.contac{
	width: 100px;
	padding-left: 100px;
	float: left;
}
.contac1{
	width: 300px;
	float: left;
	padding-left: 20px;
}
.social-link{
	padding:35px 0;
	margin:0 0 0 68px;
	display:block;
	overflow:hidden;
	list-style:none;
}
.social-link li{
	float:left;
	margin-right:8px;
}
.social-link li a{
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:25px;
	color:#fff;
	background:#222222;
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: white;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-pag{
  
  content: "Dra";
}
.fa-pag:before {
  content: "Dra";

)
